.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    width: 500px;
    height: 700px;
    border-radius: 3%;
}
.inner{
    height: 200px;
    position: relative;
    border:80%;
    

  
}
button{
    background-color:hsl(0, 0%, 20%);
    color: white;
    border-style: none;
    font-weight: bold;
}
.outer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
justify-content: space-evenly   ;
    align-items: center;
    width: 100%;
    height: 100%;
    
    

    
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    margin-top: 50px;

}
.detail{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(193, 255, 47);
}
.dop{
    color: white;
}
body{
    background-color: black;
}
h1{
    color:white;
}
.button {
    transition-duration: 0.4s;
    cursor: pointer;
    width: 90%;
  }

  
  .button1:hover {
    background-color: #b0e61d;
    color: white;
}
      
      .button2:hover {
        background-color: #b0e61d;
        color: white;}
        .button3:hover {
            background-color: #b0e61d;
            color: white;}
            .button4:hover {
                background-color: #b0e61d;
                color: white;}
                .button5:hover {
                    background-color:#b0e61d;
                    color: white;}

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width:100%;
    height: 100%;
  }   
  .button1{
    width: 260px;
    height: 30px;
    border-radius: 8px;
  }               
    .button2{
        width: 260px;
        height: 30px;
        border-radius: 8px;
    }
    .button3{
        width: 260px;
        height: 30px;
        border-radius: 8px;
    }
    .button4{
        width: 260px;
        height: 30px;
        border-radius: 8px;
    }
    .button5{
        width: 260px;
        height: 30px;
        border-radius: 8px;
    }
